@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Share+Tech&family=VT323&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: #FFFFFF;
}

header {
    margin-top: 1vh;
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #2b5f9e; /* Adiciona uma borda azul de 2px */
    border-radius: 20px;
}

a {
    text-decoration: none; 
    outline: none; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Ajuste a largura máxima para centralizar o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 0 20px; /* Adiciona um padding para espaçamento */
    z-index: 2;
}

.drop_down {
    position: relative; /* Define o contêiner pai para o posicionamento absoluto do dropdown */
    display: inline-block;
    background-color: #f9f9f9; /* Cor de fundo */
    border: 3px solid #000000; /* Borda */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de mão para indicar interatividade */
    transition: background-color 0.3s; /* Transição suave para cor de fundo */
    z-index: 10; /* Garante que o contêiner esteja acima do dropdown */
}

.container_nome_usuario {
    display: flex;
    align-items: center; /* Alinha o texto verticalmente ao centro */
    pointer-events: none;
    gap: 10px;
}

.container_nome_usuario h1 {
    font-size: 18px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    margin: 0; /* Remove margens */
    padding-right: 10px; /* Espaço entre o texto e a imagem */
}

.tracos_drop {
    width: 20px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    pointer-events: none;
}

.dropdown_content {
    position: absolute; /* Posiciona o dropdown em relação ao contêiner pai */
    background-color: #f9f9f9; /* Cor de fundo */
    border: 3px solid #000000; /* Borda */
    border-top: none; /* Remove a borda superior */
    border-radius: 0 0 5px 5px; /* Apenas as bordas inferiores serão arredondadas */
    padding: 10px; /* Espaçamento interno */
    margin-top: 8px; /* Espaço entre o dropdown e o conteúdo */
    width: 100%; /* Ajusta a largura do dropdown para o tamanho do contêiner pai */
    max-height: 0; /* Inicialmente com altura 0 */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o contêiner */
    opacity: 0; /* Inicialmente transparente */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Transições suaves */
    z-index: 1; /* Garante que o dropdown fique atrás do contêiner principal */
    left: 0; /* Alinha o dropdown com o início do contêiner pai */
}

/* Estilos para o dropdown */
.dropdown_content a {
    color: #333; /* Cor do texto padrão */
    padding: 8px 12px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    display: block; /* Faz o link ocupar a largura toda */
    background-color: #f9f9f9; /* Cor de fundo do link */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

/* Estilos para o link quando passar o mouse */
.dropdown_content a:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
    color: #333; /* Garante que a cor do texto permaneça consistente */
    text-decoration: none; /* Garante que o sublinhado não apareça */
}

/* Opcional: Para remover o outline azul ao focar no link */
.dropdown_content a:focus {
    outline: none; /* Remove o outline azul que aparece ao focar */
}

.show {
    max-height: 300px; /* Define a altura máxima do dropdown, ajuste conforme necessário */
    opacity: 1; /* Torna o conteúdo opaco */
}

h3, h4 {
    color: #007bff;
    margin-bottom: 15px;
}

/* Container Principal */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Inputs e Selects */
label {
    font-weight: bold;
    color: #495057;
}

input.form-control, select.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
}

input.form-control:focus, select.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Tabelas */
.table-responsive {
    margin-top: 20px;
}

table.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.table th, table.table td {
    padding: 12px 15px;
    text-align: left;
}

table.table th {
    background-color: #007bff;
    color: #fff;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table.table-striped tbody tr:hover {
    background-color: #e9ecef;
}

tbody tr td {
    vertical-align: middle;
}

/* Canvases for Charts */
canvas {
    display: block; /* Garante que os canvases se comportem como blocos */
    margin: 0 auto; /* Centraliza os gráficos */
}

/* Espaçamento entre os gráficos */
.row > div {
    padding: 10px; /* Ajuste o valor conforme necessário */
}

/* Opcional: ajustando o espaço entre os gráficos */
.col-md-4 {
    margin-bottom: 20px; /* Espaçamento entre os gráficos de rosca */
}

.grafico-container {
    border: 2px solid #6060601f; /* Cor e espessura da borda */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    padding: 10px; /* Espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo (opcional) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
}

/* Section Titles */
.d-flex.justify-content-between {
    margin-top: 40px;
}

h3 {
    margin-top: 30px;
}

/* Responsividade */
@media (max-width <= 768px) {
    .container {
        margin: auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .row {
        flex-direction: column;
    }

    .col-md-6,
    .col-md-4,
    .col-12 {
        width: 100%; /* Força as colunas a ocupar a largura total em telas menores */
    }

    .d-flex.justify-content-between {
        flex-direction: column; /* Coloca os itens em coluna */
        align-items: flex-start; /* Alinha os itens ao início */
    }

    .table-responsive {
        overflow-x: auto; /* Permite rolagem horizontal em telas pequenas */
    }

    table.table {
        white-space: nowrap; /* Mantém as tabelas em uma linha sem quebra de texto */
    }
}

/* Estilos gerais */
.grafico-container {
    border: 2px solid #6060601f; /* Cor e espessura da borda */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    display: flex;
    justify-content: center; /* Centraliza os gráficos dentro do contêiner */
    align-items: center; /* Centraliza verticalmente */
    background-color: #f9f9f9; /* Cor de fundo clara para o contêiner dos gráficos */
}

h3 {
    font-size: 1.5rem; /* Tamanho do título principal */
    color: #333; /* Cor do texto */
}

h4 {
    font-size: 1.25rem; /* Tamanho do título secundário */
    color: #333; /* Cor do texto */
    margin-top: 20px; /* Espaço superior para separar dos outros elementos */
}

.mb-3 {
    margin-bottom: 1rem; /* Margem inferior para separação entre elementos */
}

.mt-4 {
    margin-top: 2rem; /* Margem superior para separação entre elementos */
}

.row {
    margin: 0; /* Remove margens padrão das linhas */
}

.col-md-4,
.col-md-6 {
    padding: 0.5rem; /* Adiciona espaçamento entre as colunas */
}

/* Ajuste do canvas para responsividade */
canvas {
    max-width: 100%; /* Garante que os gráficos não ultrapassem a largura do contêiner */
    height: auto; /* Mantém a proporção dos gráficos */
}

/* Custom Styling for Different Components */
.table th {
    text-align: center;
    font-size: 14px;
}

.table td {
    text-align: center;
    font-size: 14px;
}

#total-alunos {
    font-size: 24px;
    color: #28a745;
    font-weight: bold;
}

select.form-control {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}


/* Footer */
footer {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.footer-content > div {
    flex: 1;
    padding: 10px;
    position: relative;
}

.footer-content > div:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3px;
    background-color: yellow;
}

.footer-content > div:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3px;
    background-color: blue;
}

.logo-footer img {
    width: 255px;
    height: 100px;
}


/* Estilo dos títulos do footer */
.contact h3,
.social-media h3 {
    color: #ED1B24; 
    font-family: 'Share Tech', sans-serif;
    font-size: 24px; 
}


.contact h3 {
    color: #ED1B24; 
    font-family: 'Share Tech', sans-serif; 
    bottom: 10px;
    position: relative;
    font-size: 30px;
}


.social-media h3 {
    color: #ED1B24;
    font-family: 'Share Tech', sans-serif;
    bottom: 10px;
    position: relative;
    font-size: 30px;
}

header img[alt="deslogar da pagina"] {
    height: 25px; /* Ajuste o tamanho do ícone de sair */
    width: 25px;
    cursor: pointer;
    margin-left: 15px; /* Espaçamento entre o ícone e os elementos adjacentes */
    transition: transform 0.2s ease-in-out; /* Adiciona um efeito ao passar o mouse */
}

header img[alt=""]:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

.espaco_usuario_saida {
    display: flex;
    align-items: center;
    width: 40vh;
    justify-content: space-evenly;
}

/* Estilos para a modal */
.modal_gerar_relatorio {
    display: none; /* Oculta a modal por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo para o conteúdo da modal */
.modal-dialog {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.btn-close {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.modal-body {
    font-size: 16px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    margin-top: 10px;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn:hover {
    opacity: 0.9;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilos para a modal */
.modal_cadastro {
    display: none; /* Oculta a modal inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo para o conteúdo da modal */
.modal-dialog {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.btn-close {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.modal-body {
    font-size: 16px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    margin-top: 10px;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn:hover {
    opacity: 0.9;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}