@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Share+Tech&family=VT323&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: #FFFFFF;
}

header {
    margin-top: 1vh;
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #2b5f9e;
    /* Adiciona uma borda azul de 2px */
    border-radius: 20px;
}

a {
    text-decoration: none;
    outline: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    /* Ajuste a largura máxima para centralizar o conteúdo */
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
    padding: 0 20px;
    /* Adiciona um padding para espaçamento */
    z-index: 2;
}

.drop_down {
    position: relative;
    /* Define o contêiner pai para o posicionamento absoluto do dropdown */
    display: inline-block;
    background-color: #f9f9f9;
    /* Cor de fundo */
    border: 3px solid #000000;
    /* Borda */
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 10px;
    /* Espaçamento interno */
    cursor: pointer;
    /* Cursor de mão para indicar interatividade */
    transition: background-color 0.3s;
    /* Transição suave para cor de fundo */
    z-index: 10;
    /* Garante que o contêiner esteja acima do dropdown */
}

.container_nome_usuario {
    display: flex;
    align-items: center;
    /* Alinha o texto verticalmente ao centro */
    pointer-events: none;
}

.container_nome_usuario h1 {
    font-size: 18px;
    /* Tamanho da fonte */
    color: #333;
    /* Cor do texto */
    margin: 0;
    /* Remove margens */
    padding-right: 10px;
    /* Espaço entre o texto e a imagem */
}

.tracos_drop {
    width: 20px;
    /* Largura da imagem */
    height: auto;
    /* Altura automática para manter a proporção */
    pointer-events: none;
}

.dropdown_content {
    position: absolute;
    /* Posiciona o dropdown em relação ao contêiner pai */
    background-color: #f9f9f9;
    /* Cor de fundo */
    border: 3px solid #000000;
    /* Borda */
    border-top: none;
    /* Remove a borda superior */
    border-radius: 0 0 5px 5px;
    /* Apenas as bordas inferiores serão arredondadas */
    padding: 10px;
    /* Espaçamento interno */
    margin-top: 8px;
    /* Espaço entre o dropdown e o conteúdo */
    width: 100%;
    /* Ajusta a largura do dropdown para o tamanho do contêiner pai */
    max-height: 0;
    /* Inicialmente com altura 0 */
    overflow: hidden;
    /* Esconde o conteúdo que ultrapassa o contêiner */
    opacity: 0;
    /* Inicialmente transparente */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    /* Transições suaves */
    z-index: 1;
    /* Garante que o dropdown fique atrás do contêiner principal */
    left: 0;
    /* Alinha o dropdown com o início do contêiner pai */
}

.dropdown_content a {
    color: #333;
    /* Cor do texto */
    padding: 8px 12px;
    /* Espaçamento interno */
    text-decoration: none;
    /* Remove o sublinhado */
    display: block;
    /* Faz o link ocupar a largura toda */
}

.dropdown_content a:hover {
    background-color: #e0e0e0;
    /* Cor de fundo ao passar o mouse */
}

.show {
    max-height: 300px;
    /* Define a altura máxima do dropdown, ajuste conforme necessário */
    opacity: 1;
    /* Torna o conteúdo opaco */
}


/* Estilo do dropdown */
.course-select select {
    background-color: #244AA5;
    color: #FFFFFF;
    border: 1px solid #244AA5;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    width: 291px;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/amarela.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px 15px;
    margin-bottom: 2%;
}

.course-select:nth-of-type(2) {
    display: none;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



header .search-container {
    flex: 1;
}

header .search-container input#searchInput {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #244AA5;
    font-size: 16px;
    width: 600px;
    /* Ajuste conforme necessário */
    position: relative;
    right: 420px;
}

.search-container {
    max-width: 300px;
}

#searchInput {
    border-radius: 20px;
    padding: 10px;
}

/* Estilo para a tabela */
.table {
    margin-top: 20px;
}

.table th,
.table td {
    text-align: center;
}

/* Estilo para a categoria */
.table .category {
    font-weight: bold;
}

/* Estilo da tabela */
#rankingTable {
    width: 100%;
    border-collapse: collapse;
}

#rankingTable tr {
    background-color: #244AA5;
    color: #FFFFFF;
}

#rankingTable td {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: none;
    border-right: none;
}

/* Estilo dos detalhes do usuário */
.user-details {
    display: flex;
    align-items: center;
    left: 110px;
    position: relative;
}

.user-details img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-details .user-info {
    display: flex;
    flex-direction: column;
}

.user-details .user-info span {
    display: block;
}

.user-details .user-info .username {
    font-weight: bold;
}

.user-details .user-info .email {
    font-size: 0.9em;
    color: #CCCCCC;
}

/* Estilo para a categoria */
.table .category {
    font-weight: bold;
}

.table th:first-child,
.table td:first-child {
    width: 10%;
    color: #244AA5;
}

.table td:first-child {
    width: 10%;
    color: #FFFFFF;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: auto;
    color: #244AA5;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: auto;
    color: #FFFFFF;
}

.table th:last-child {
    width: 20%;
    color: #244AA5;
}

.table td:last-child {
    color: #FFFFFF;
}

/* Footer */
footer {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.footer-content>div {
    flex: 1;
    padding: 10px;
    position: relative;
}

.footer-content>div:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3px;
    background-color: yellow;
}

.footer-content>div:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3px;
    background-color: blue;
}

.logo-footer img {
    width: 255px;
    height: 100px;
}

#p-geral {
    color: red;
}

#p-curso {
    font-size: 24px;
}

.p-descricao {
    margin-top: 40px;
    margin-bottom: 100px;
}

.footer-note {
    margin-top: 20px;
    color: #999;
}

.medal {
    width: 20px;
    height: 20px;
}

.gold-medal {
    width: 35px;
    height: 35px;
}

.silver-medal {
    width: 35px;
    height: 35px;
}

.bronze-medal {
    width: 35px;
    height: 35px;
}

/* Estilo dos títulos do footer */
.contact h3,
.social-media h3 {
    color: #ED1B24;
    font-family: 'Share Tech', sans-serif;
    font-size: 24px;
}


.contact h3 {
    color: #ED1B24;
    font-family: 'Share Tech', sans-serif;
    bottom: 10px;
    position: relative;
    font-size: 30px;
}


.social-media h3 {
    color: #ED1B24;
    font-family: 'Share Tech', sans-serif;
    bottom: 10px;
    position: relative;
    font-size: 30px;
}