@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Share+Tech&family=VT323&display=swap');

@media (min-width: 768px) {
    body {
        font-family: Inter, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    header {
        background-color: #fff;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
    }

    a {
        text-decoration: none;
        outline: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 100px;
        z-index: 2;
    }

    .logo {
        height: 50px;
    }

    .login-buttons .login-btn,
    .register-btn {
        background-color: #EEAD2D;
        color: #254aa5;
        border: none;
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .register-btn {
        background-color: #f39c12;
        z-index: 5;
    }


    .login-buttons .login-btn:hover,
    .register-btn:hover {
        transform: scale(1.05);
        background-color: #e1b10d;
    }

    .container-fundo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url('/fundo-esqueci-senha.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .container-fundo::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .bloco-principal {
        position: relative;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.488);
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        color: #666;
        margin-bottom: 20px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"] {
        width: calc(100% - 22px);
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    input:focus {
        border-color: #254aa5;
        outline: none;
    }

    button {
        background-color: #254aa5;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #3b60bd;
    }


    .container_alerta {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 15px 30px;
        border-radius: 5px;
        z-index: 99999;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
        width: 300px;
        text-align: center;
        display: none;
    }

    .titulo_alerta {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
    }

    .texto_alerta {
        font-size: 16px;
    }

    .container_alerta.show {
        display: block;
        opacity: 1;
        top: 40px;
    }

    .container_alerta.error {
        background-color: #f44336;
    }

    .container_alerta.success {
        background-color: #4CAF50;
    }
}

@media (max-width: 767px) {
    body {
        font-family: Inter, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    header {
        background-color: #fff;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
    }

    a {
        text-decoration: none;
        outline: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 10px;
        z-index: 2;
    }

    .logo {
        height: 50px;
    }

    .login-buttons .login-btn,
    .register-btn {
        background-color: #f1c40f;
        border: none;
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .register-btn {
        background-color: #f39c12;
        z-index: 5;
    }


    .login-buttons .login-btn:hover,
    .register-btn:hover {
        transform: scale(1.05);
        background-color: #e1b10d;
    }

    .container-fundo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url('/fundo-esqueci-senha.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .container-fundo::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .bloco-principal {
        position: relative;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.488);
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        color: #666;
        margin-bottom: 20px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"] {
        width: calc(100% - 22px);
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    button {
        background-color: #254aa5;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #3b60bd;
    }

    .container_alerta {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 15px 30px;
        border-radius: 5px;
        z-index: 99999;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
        width: 300px;
        text-align: center;
        display: none;
    }

    .titulo_alerta {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
    }

    .texto_alerta {
        font-size: 16px;
    }

    .container_alerta.show {
        display: block;
        opacity: 1;
        top: 40px;
    }

    .container_alerta.error {
        background-color: #f44336;
    }

    .container_alerta.success {
        background-color: #4CAF50;
    }
}